.portfolio-stat-wrapper{
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
}

.year-section{
    background-color: $light-grey;
    border-radius: 12px;
}

.year-text-roi{
    font-size: .8rem;
}

.dashboard-left-section {
  height: calc(100dvh - var(--navbar-height, 0px));
  overflow-y: auto;
  overflow-x: hidden;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}