.portfolio-stat-wrapper{
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
}

.dashboard-left-section {
  height: calc(100dvh - var(--navbar-height, 0px));
  overflow-y: auto;
  overflow-x: hidden;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.asset-selected-view-option{
    background-color: $orange;
}