@use "./variables" as *;
@use "./mixins" as *;

body,
#root {
  margin: 0;
  padding: 0;
  background-color: $dark-grey;
  overflow: hidden;
  user-select: none;
  font-family: proxima-nova, sans-serif;
  text-wrap-mode: nowrap;
}
