$dark-grey: #262624;
$light-grey: #30302e;
$black: #30302e;
$white: #bbbbb5;
$orange: #30302e;
$grey: #30302e;
$green: #26A69A;
$red: #EF5350;
$orange: #D97757;
$asset-value-color:#C2C0B6;
$asset-name-color:#D9D9DC;
