.asset-wrapper{
    background-color: $light-grey;
    border-radius: 12px;
}

.asset-logo{
    width: 25px;
}

.asset-header{
    color: $orange;
    font-size: .6rem;
}

.asset-value{
    color: $asset-value-color;
    font-size: 1rem;
    font-weight: 400;
}

.asset-name{
    color:$asset-name-color;
    font-weight: medium;
    font-size: .9rem;
}

.asset-current-price{
    color: $asset-value-color;
}

.asset-roi{
    color: $green;
}

.asset-earning{
    color: $green;
}

.asset-chart-button{
    width: 30px;
    height: 30px;
    border-radius: 100%;
}

.asset-chart-button:hover{
    background-color: #cdcdcd2b;
}