@import url("https://fonts.cdnfonts.com/css/anurati");

.navbar-wrapper {
  position:fixed;
  width: 100%;
  z-index: 5;
  top: 0;
  background-color: $light-grey;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.55);
}

.create-portfolio-asset-transaction-button {
  background-color: transparent;
  border-style: solid;
  border-color: $white;
  border-width: 2px;
  border-radius: 30px;
  color: $white;
  font-weight: 500;
  font-size: 0.9rem;
  cursor: pointer;
}

.create-portfolio-asset-transaction-button:hover {
  background-color: $white;
  color: $light-grey;
}

.create-portfolio-asset-transaction-button:active {
  transform: scale(0.97);
  transition-duration: 0.2s;
}

.navbar-logo {
  font-family: "Anurati", sans-serif;
  color: #e5e7cc;
  font-size: 1.6rem;
}
