.navbar-wrapper{
    background-color: $light-grey;
}
 
.create-portfolio-button {
  background-color: rgb(161, 255, 20);
  border-radius: 30px;
  color: rgb(19, 19, 19);
  font-weight: 600;
  border: none;
  cursor: pointer;
  transition-duration: .2s;
  transition-duration: .5s;
}

.create-portfolio-button:hover {
  background-color: rgb(192, 255, 20);
  transition-duration: .5s;
}

.create-portfolio-button:active {
  transform: scale(0.97);
  transition-duration: .2s;
}


