.year-section {
  background-color: $light-grey;
  border-radius: 12px;
}

.year-section-wrapper {
  overflow-x: visible;
  overflow-y: hidden;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.year-text-header {
  color: $orange;
  font-size: 0.9rem;
}
.year-text-roi {
  font-size: 0.8rem;
}
